{"openapi":"3.1.0","info":{"title":"Mithril","description":"Mithril Compute API","version":"1.0.0"},"servers":[{"url":"https://api.mithril.ai"}],"paths":{"/v2/api-keys":{"get":{"tags":["API Keys"],"summary":"Get Api Keys","description":"Get all API keys registered to the user","operationId":"get_api_keys_v2_api_keys_get","responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"items":{"$ref":"#/components/schemas/ApiKeyModel"},"type":"array","title":"Response Get Api Keys V2 Api Keys Get"}}}},"401":{"description":"Invalid credentials"}},"security":[{"MithrilAPIKey":[]}]},"post":{"tags":["API Keys"],"summary":"Create Api Key","description":"Create a new API key","operationId":"create_api_key_v2_api_keys_post","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateApiKeyRequest"}}},"required":true},"responses":{"201":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateApiKeyResponse"}}}},"401":{"description":"Invalid credentials"},"400":{"description":"Invalid request parameters"},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}},"security":[{"MithrilAPIKey":[]}]}},"/v2/api-keys/{key_fid}":{"delete":{"tags":["API Keys"],"summary":"Revoke Api Key","description":"Revoke an API key","operationId":"revoke_api_key_v2_api_keys__key_fid__delete","security":[{"MithrilAPIKey":[]}],"parameters":[{"name":"key_fid","in":"path","required":true,"schema":{"type":"string","examples":["apikey_abc123456"],"title":"Key Fid"}}],"responses":{"204":{"description":"Successful Response"},"401":{"description":"Invalid credentials"},"404":{"description":"API key not found"},"400":{"description":"Invalid request"},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/v2/me":{"get":{"tags":["profile"],"summary":"Get Me","description":"Get the current user's profile","operationId":"get_me_v2_me_get","responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/MeResponse"}}}}},"security":[{"MithrilAPIKey":[]}]}},"/v2/me/teammates":{"get":{"tags":["profile"],"summary":"Get My Teammates","description":"Get teammates visible to the current user.\n\nReturns teammates from the user's organization, filtered by shared project\nmembership (unless the user is an org admin, in which case all org members\nare visible). Can be used by a client to map user FIDs to user profiles.","operationId":"get_my_teammates_v2_me_teammates_get","responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"items":{"$ref":"#/components/schemas/TeammateResponse"},"type":"array","title":"Response Get My Teammates V2 Me Teammates Get"}}}}},"security":[{"MithrilAPIKey":[]}]}},"/v2/ssh-keys":{"post":{"tags":["SSH Keys"],"summary":"Create Ssh Key","description":"Create a new SSH key. If public_key is not provided, this endpoint will generate\na new RSA key pair and return both the private and public keys.","operationId":"create_ssh_key_v2_ssh_keys_post","security":[{"MithrilAPIKey":[]}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateSshKeyRequest"}}}},"responses":{"201":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreatedSshKeyModel"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}},"get":{"tags":["SSH Keys"],"summary":"Get Ssh Keys","description":"Get all SSH keys for a project","operationId":"get_ssh_keys_v2_ssh_keys_get","security":[{"MithrilAPIKey":[]}],"parameters":[{"name":"project","in":"query","required":true,"schema":{"type":"string","examples":["proj_abc123456"],"title":"Project"}}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/NewSshKeyModel"},"title":"Response Get Ssh Keys V2 Ssh Keys Get"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/v2/ssh-keys/{ssh_key_fid}":{"patch":{"tags":["SSH Keys"],"summary":"Update Ssh Key","description":"Update an SSH key to set it as required. Only admins can set a key as required.","operationId":"update_ssh_key_v2_ssh_keys__ssh_key_fid__patch","security":[{"MithrilAPIKey":[]}],"parameters":[{"name":"ssh_key_fid","in":"path","required":true,"schema":{"type":"string","examples":["sshkey_abc123456"],"title":"Ssh Key Fid"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UpdateSshKeyRequest"}}}},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/NewSshKeyModel"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}},"delete":{"tags":["SSH Keys"],"summary":"Delete Ssh Key","description":"Delete an SSH key. Note that SSH keys used in active bids/reservations cannot\nbe deleted.","operationId":"delete_ssh_key_v2_ssh_keys__ssh_key_fid__delete","security":[{"MithrilAPIKey":[]}],"parameters":[{"name":"ssh_key_fid","in":"path","required":true,"schema":{"type":"string","examples":["sshkey_abc123456"],"title":"Ssh Key Fid"}}],"responses":{"204":{"description":"Successful Response"},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/v2/spot/bids":{"get":{"tags":["spot"],"summary":"Get Bids","description":"Get all Spot bids for a project, or all user's projects if not specified","operationId":"get_bids_v2_spot_bids_get","security":[{"MithrilAPIKey":[]}],"parameters":[{"name":"next_cursor","in":"query","required":false,"schema":{"nullable":true}},{"name":"sort_by","in":"query","required":false,"schema":{"enum":["created_at","status"],"type":"string","nullable":true}},{"name":"sort_dir","in":"query","required":false,"schema":{"$ref":"#/components/schemas/SortDirection","nullable":true}},{"name":"project","in":"query","required":false,"schema":{"type":"string","examples":["proj_abc123456"],"nullable":true}},{"name":"instance_type","in":"query","required":false,"schema":{"type":"string","examples":["it_abc123456"],"nullable":true}},{"name":"region","in":"query","required":false,"schema":{"type":"string","examples":["us-central1-a"],"nullable":true}},{"name":"status","in":"query","required":false,"schema":{"enum":["Open","Allocated","Preempting","Terminated","Paused"],"type":"string","nullable":true}},{"name":"name","in":"query","required":false,"schema":{"type":"string","nullable":true}},{"name":"limit","in":"query","required":false,"schema":{"type":"integer","maximum":100,"minimum":1,"nullable":true}}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GetBidsResponse"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}},"post":{"tags":["spot"],"summary":"Create Bid","description":"Place a new Spot bid","operationId":"create_bid_v2_spot_bids_post","security":[{"MithrilAPIKey":[]}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateBidRequest"}}}},"responses":{"201":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BidModel"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/v2/spot/bids/{bid_fid}":{"get":{"tags":["spot"],"summary":"Get Bid","description":"Get a single Spot bid by FID","operationId":"get_bid_v2_spot_bids__bid_fid__get","security":[{"MithrilAPIKey":[]}],"parameters":[{"name":"bid_fid","in":"path","required":true,"schema":{"type":"string","title":"Bid Fid"}}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BidModel"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}},"patch":{"tags":["spot"],"summary":"Update Bid","description":"Update the limit price of a Spot bid","operationId":"update_bid_v2_spot_bids__bid_fid__patch","security":[{"MithrilAPIKey":[]}],"parameters":[{"name":"bid_fid","in":"path","required":true,"schema":{"type":"string","title":"Bid Fid"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UpdateBidRequest"}}}},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BidModel"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}},"delete":{"tags":["spot"],"summary":"Cancel Bid","description":"Cancel a Spot bid","operationId":"cancel_bid_v2_spot_bids__bid_fid__delete","security":[{"MithrilAPIKey":[]}],"parameters":[{"name":"bid_fid","in":"path","required":true,"schema":{"type":"string","title":"Bid Fid"}}],"responses":{"204":{"description":"Successful Response"},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/v2/spot/bids/{bid_fid}/status":{"get":{"tags":["spot"],"summary":"Get Bid Status","description":"Get detailed status of a Spot bid.\n\nReturns a detailed status that includes instance-level status information.\nThe status can be one of: Open, Allocated, Preempting, Terminated,\nPaused, Relocating.\n\n\"Relocating\" indicates that part of the order is being relocated.","operationId":"get_bid_status_v2_spot_bids__bid_fid__status_get","security":[{"MithrilAPIKey":[]}],"parameters":[{"name":"bid_fid","in":"path","required":true,"schema":{"type":"string","title":"Bid Fid"}}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BidStatusResponse"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/v2/spot/bids/{bid_fid}/history":{"get":{"tags":["spot"],"summary":"Get Bid History","description":"Get the history of events for a Spot bid.\n\nReturns a list of historical events including:\n- placing the bid\n- pausing the bid\n- resuming the bid\n- terminating the bid\n- changes to the limit price","operationId":"get_bid_history_v2_spot_bids__bid_fid__history_get","security":[{"MithrilAPIKey":[]}],"parameters":[{"name":"bid_fid","in":"path","required":true,"schema":{"type":"string","title":"Bid Fid"}}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BidHistoryResponse"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/v2/spot/availability":{"get":{"tags":["spot"],"summary":"Get Auctions","description":"Get the Spot availability across all regions.","operationId":"get_auctions_v2_spot_availability_get","responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"items":{"$ref":"#/components/schemas/AuctionModel"},"type":"array","title":"Response Get Auctions V2 Spot Availability Get"}}}}},"security":[{"MithrilAPIKey":[]}]}},"/v2/lifecycle-scripts":{"post":{"tags":["lifecycle scripts"],"summary":"Create Lifecycle Script","description":"Create a new lifecycle script","operationId":"create_lifecycle_script_v2_lifecycle_scripts_post","security":[{"MithrilAPIKey":[]}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateLifecycleScriptRequest"}}}},"responses":{"201":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/LifecycleScriptModel"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}},"get":{"tags":["lifecycle scripts"],"summary":"List Lifecycle Scripts","description":"Get all lifecycle scripts visible to user in a project","operationId":"list_lifecycle_scripts_v2_lifecycle_scripts_get","security":[{"MithrilAPIKey":[]}],"parameters":[{"name":"next_cursor","in":"query","required":false,"schema":{"nullable":true}},{"name":"sort_by","in":"query","required":false,"schema":{"enum":["created_at","last_modified_at"],"type":"string","nullable":true}},{"name":"sort_dir","in":"query","required":false,"schema":{"$ref":"#/components/schemas/SortDirection","nullable":true}},{"name":"project","in":"query","required":true,"schema":{"type":"string","title":"Project"}},{"name":"limit","in":"query","required":false,"schema":{"type":"integer","maximum":100,"minimum":1,"nullable":true}}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ListLifecycleScriptsResponse"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/v2/lifecycle-scripts/{ls_fid}/content":{"get":{"tags":["lifecycle scripts"],"summary":"Get Lifecycle Script Content","operationId":"get_lifecycle_script_content_v2_lifecycle_scripts__ls_fid__content_get","security":[{"MithrilAPIKey":[]}],"parameters":[{"name":"ls_fid","in":"path","required":true,"schema":{"type":"string","title":"Ls Fid"}}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/v2/lifecycle-scripts/{ls_fid}":{"patch":{"tags":["lifecycle scripts"],"summary":"Update Lifecycle Script","operationId":"update_lifecycle_script_v2_lifecycle_scripts__ls_fid__patch","security":[{"MithrilAPIKey":[]}],"parameters":[{"name":"ls_fid","in":"path","required":true,"schema":{"type":"string","title":"Ls Fid"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UpdateLifecycleScriptRequest"}}}},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/LifecycleScriptModel"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}},"delete":{"tags":["lifecycle scripts"],"summary":"Delete Lifecycle Script","operationId":"delete_lifecycle_script_v2_lifecycle_scripts__ls_fid__delete","security":[{"MithrilAPIKey":[]}],"parameters":[{"name":"ls_fid","in":"path","required":true,"schema":{"type":"string","title":"Ls Fid"}}],"responses":{"204":{"description":"Successful Response"},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/v2/reservation/instance-types":{"get":{"tags":["reservations","instance types"],"summary":"Get Reservation Instance Types","description":"Get instance types available for reservation.\n\nReturns the subset of public instance types that are currently\neligible for reservation. Instance types can be disabled for\nreservation via the Unleash reservation-disabled-instance-types\nfeature flag.","operationId":"get_reservation_instance_types_v2_reservation_instance_types_get","responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"items":{"$ref":"#/components/schemas/InstanceTypeModel"},"type":"array","title":"Response Get Reservation Instance Types V2 Reservation Instance Types Get"}}}}},"security":[{"MithrilAPIKey":[]}]}},"/v2/reservation/quote":{"get":{"tags":["reservations"],"summary":"Get Reservation Quote","description":"Get pricing offers for a reservation.\n\nReservation offers are dynamic and the price may change slightly since\nthe time it was generated. You can include an optional \"max_unit_price\"\n(which you can set at the quoted price or slightly above it) to ensure\nyour reservation request fails if the new price is above that max.","operationId":"get_reservation_quote_v2_reservation_quote_get","security":[{"MithrilAPIKey":[]}],"parameters":[{"name":"project","in":"query","required":true,"schema":{"type":"string","examples":["proj_abc123456"],"title":"Project"}},{"name":"instance_type","in":"query","required":true,"schema":{"type":"string","examples":["it_abc123456"],"title":"Instance Type"}},{"name":"region","in":"query","required":true,"schema":{"type":"string","examples":["us-central1-a"],"title":"Region"}},{"name":"start_time","in":"query","required":true,"schema":{"examples":["2024-01-01T00:00:00Z","2024-01-01T00:00:00+00:00","2024-01-01T00:00:00-00:00"],"type":"string","format":"datetime","title":"Start Time"}},{"name":"end_time","in":"query","required":true,"schema":{"examples":["2024-01-01T00:00:00Z","2024-01-01T00:00:00+00:00","2024-01-01T00:00:00-00:00"],"type":"string","format":"datetime","title":"End Time"}},{"name":"quantity","in":"query","required":true,"schema":{"type":"integer","minimum":1,"title":"Quantity"}}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ReservationQuoteResponse"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/v2/reservation/availability":{"get":{"tags":["reservations"],"summary":"Get Availability","description":"Get availability information for reservations.\n\nThis endpoint supports three different modes for querying availability:\n\n## Mode: latest_end_time (default)\nGet the latest possible end time for a reservation given a start time and\nquantity.\n\n**Required parameters:**\n- `start_time`: Desired start time for the reservation\n- `quantity`: Number of instances needed\n- `project`: Project FID\n- `instance_type`: Instance type FID\n- `region`: Region name\n\n**Returns:** Latest possible end time and availability status\n\n**Example:**\n```\nGET /reservation/availability?\n    start_time=2024-01-01T00:00:00Z&\n    quantity=4&\n    project=proj_01h8x2k9m3n4p5q6r7s8t9u0v&\n    instance_type=it_01h8x2k9m3n4p5q6r7s8t9u0v&\n    region=us-central1-a\n```\n\n## Mode: slots\nGet all available slots in a time range.\n\n**Required parameters:**\n- `earliest_start_time`: Start of the time range to search\n- `latest_end_time`: End of the time range to search\n- `project`: Project FID\n- `instance_type`: Instance type FID\n- `region`: Region name\n\n**Returns:** List of available time slots with quantities\n\n**Example:**\n```\nGET /reservation/availability?\n    mode=slots&\n    earliest_start_time=2024-01-01T00:00:00Z&\n    latest_end_time=2024-01-02T00:00:00Z&\n    project=proj_01h8x2k9m3n4p5q6r7s8t9u0v&\n    instance_type=it_01h8x2k9m3n4p5q6r7s8t9u0v&\n    region=us-central1-a\n```\n\n## Mode: check\nCheck if a specific time slot is available for reservation.\n\n**Required parameters:**\n- `start_time`: Start of the desired time slot\n- `end_time`: End of the desired time slot\n- `quantity`: Number of instances needed\n- `project`: Project FID\n- `instance_type`: Instance type FID\n- `region`: Region name\n\n**Returns:** Boolean indicating if the slot is available\n\n**Example:**\n```\nGET /reservation/availability?\n    mode=check&\n    start_time=2024-01-01T00:00:00Z&\n    end_time=2024-01-01T12:00:00Z&\n    quantity=4&\n    project=proj_01h8x2k9m3n4p5q6r7s8t9u0v&\n    instance_type=it_01h8x2k9m3n4p5q6r7s8t9u0v&\n    region=us-central1-a\n```\n\n## Common Parameters\nAll modes require these parameters:\n- `project`: Project FID\n- `instance_type`: Instance type FID\n- `region`: Region name\n\n## Authentication\nRequires authentication and user must be a member of the specified project.","operationId":"get_availability_v2_reservation_availability_get","security":[{"MithrilAPIKey":[]}],"parameters":[{"name":"project","in":"query","required":true,"schema":{"type":"string","title":"Project"}},{"name":"instance_type","in":"query","required":true,"schema":{"type":"string","title":"Instance Type"}},{"name":"region","in":"query","required":true,"schema":{"type":"string","title":"Region"}},{"name":"mode","in":"query","required":false,"schema":{"enum":["slots","latest_end_time","check"],"type":"string","default":"latest_end_time","title":"Mode"}},{"name":"earliest_start_time","in":"query","required":false,"schema":{"examples":["2024-01-01T00:00:00Z","2024-01-01T00:00:00+00:00","2024-01-01T00:00:00-00:00"],"type":"string","format":"datetime","nullable":true}},{"name":"latest_end_time","in":"query","required":false,"schema":{"examples":["2024-01-01T00:00:00Z","2024-01-01T00:00:00+00:00","2024-01-01T00:00:00-00:00"],"type":"string","format":"datetime","nullable":true}},{"name":"start_time","in":"query","required":false,"schema":{"examples":["2024-01-01T00:00:00Z","2024-01-01T00:00:00+00:00","2024-01-01T00:00:00-00:00"],"type":"string","format":"datetime","nullable":true}},{"name":"end_time","in":"query","required":false,"schema":{"examples":["2024-01-01T00:00:00Z","2024-01-01T00:00:00+00:00","2024-01-01T00:00:00-00:00"],"type":"string","format":"datetime","nullable":true}},{"name":"quantity","in":"query","required":false,"schema":{"type":"integer","exclusiveMinimum":0,"nullable":true}}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/AvailabilitySlotModel"}}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/v2/reservation":{"post":{"tags":["reservations"],"summary":"Create Reservation","description":"Create a new reservation.","operationId":"create_reservation_v2_reservation_post","security":[{"MithrilAPIKey":[]}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateReservationRequest"}}}},"responses":{"201":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ReservationModel"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}},"get":{"tags":["reservations"],"summary":"Get Reservations","description":"Get all reservations for a project","operationId":"get_reservations_v2_reservation_get","security":[{"MithrilAPIKey":[]}],"parameters":[{"name":"next_cursor","in":"query","required":false,"schema":{"nullable":true}},{"name":"sort_by","in":"query","required":false,"schema":{"enum":["created_at","status"],"type":"string","nullable":true}},{"name":"sort_dir","in":"query","required":false,"schema":{"$ref":"#/components/schemas/SortDirection","nullable":true}},{"name":"project","in":"query","required":true,"schema":{"type":"string","title":"Project"}},{"name":"instance_type","in":"query","required":false,"schema":{"type":"string","examples":["it_abc123456"],"nullable":true}},{"name":"region","in":"query","required":false,"schema":{"type":"string","examples":["us-central1-a"],"nullable":true}},{"name":"status","in":"query","required":false,"schema":{"enum":["Pending","Active","Paused","Canceled","Ended"],"type":"string","nullable":true}},{"name":"limit","in":"query","required":false,"schema":{"type":"integer","maximum":100,"minimum":1,"nullable":true}}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GetReservationsResponse"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/v2/reservation/{reservation_fid}/extension-availability":{"get":{"tags":["reservations"],"summary":"Get Extension Availability","description":"Get extension availability for a reservation","operationId":"get_extension_availability_v2_reservation__reservation_fid__extension_availability_get","security":[{"MithrilAPIKey":[]}],"parameters":[{"name":"reservation_fid","in":"path","required":true,"schema":{"type":"string","examples":["res_abc123456"],"title":"Reservation Fid"}}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ExtensionAvailabilityResponse"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/v2/reservation/{reservation_fid}/extend":{"post":{"tags":["reservations"],"summary":"Extend Reservation","description":"Extend a reservation to the requested time.","operationId":"extend_reservation_v2_reservation__reservation_fid__extend_post","security":[{"MithrilAPIKey":[]}],"parameters":[{"name":"reservation_fid","in":"path","required":true,"schema":{"type":"string","examples":["res_abc123456"],"title":"Reservation Fid"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ExtendReservationRequest"}}}},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ReservationModel"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/v2/reservation/{reservation_fid}":{"patch":{"tags":["reservations"],"summary":"Update Reservation","description":"Update a reservation's pause/resume status and/or volumes","operationId":"update_reservation_v2_reservation__reservation_fid__patch","security":[{"MithrilAPIKey":[]}],"parameters":[{"name":"reservation_fid","in":"path","required":true,"schema":{"type":"string","examples":["res_abc123456"],"title":"Reservation Fid"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UpdateReservationRequest"}}}},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ReservationModel"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/v2/reservation/{reservation_fid}/terminate-instances":{"post":{"tags":["reservations"],"summary":"Terminate Instance","description":"Remove and permanently delete instances from this reservation.\n\nYou will receive a credit based on your early termination buyback price\nassociated with this reservation and the time remaining in the\nreservation.\n\nThis endpoint does a best effort to termiante all instances, but it can\nfail to do so for some instances. If you receive a 207, then please see\nthe response for details.","operationId":"terminate_instance_v2_reservation__reservation_fid__terminate_instances_post","security":[{"MithrilAPIKey":[]}],"parameters":[{"name":"reservation_fid","in":"path","required":true,"schema":{"type":"string","examples":["res_abc123456"],"title":"Reservation Fid"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/TerminateInstanceRequest"}}}},"responses":{"200":{"description":"Successfully terminated all instances.","content":{"application/json":{"schema":{}}}},"207":{"description":"Failed to terminate some instances. See response for details.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/TerminateInstanceResponsePartialSuccess"}}}},"404":{"description":"Either the reservation or one of the instances could not be found."},"400":{"description":"The reservation was already ended."},"502":{"description":"No instance was able to be stopped due to an internal error."},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/v2/reservation/{reservation_fid}/history":{"get":{"tags":["reservations"],"summary":"Get Reservation History","description":"Get the activity history for a reservation.\n\nReturns a chronological list of order-level status changes (Placed, Active,\nPaused, Resumed, Canceled, Ended) interleaved with aggregated instance-level\nstatus events (instances running, stopped, error) bucketed into 60-second\nwindows so burst transitions appear as a single entry.","operationId":"get_reservation_history_v2_reservation__reservation_fid__history_get","security":[{"MithrilAPIKey":[]}],"parameters":[{"name":"reservation_fid","in":"path","required":true,"schema":{"type":"string","examples":["res_abc123456"],"title":"Reservation Fid"}}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ReservationHistoryResponse"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/v2/reservation/{reservation_fid}/usage":{"get":{"tags":["reservations"],"summary":"Get Reservation Usage","description":"Get usage breakdown for a flex reservation.","operationId":"get_reservation_usage_v2_reservation__reservation_fid__usage_get","security":[{"MithrilAPIKey":[]}],"parameters":[{"name":"reservation_fid","in":"path","required":true,"schema":{"type":"string","examples":["res_abc123456"],"title":"Reservation Fid"}}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ReservationUsageResponse"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/v2/volumes":{"get":{"tags":["volumes"],"summary":"Get Volumes","description":"Retrieves all storage volumes for a specific project.\n\nArgs:\n    user_info: Authenticated user information.\n    project: Identifier of the project to list volumes for.\n    region: Optional region filter.\n    include_deleted: When True, includes soft-deleted volumes in the\n        response. Deleted volumes have a non-null ``deleted_at`` field.\n        Defaults to False.\n\nReturns:\n    list[VolumeModel]: A list of volume models belonging to the project.\n\nRaises:\n    HTTPException: If project is missing or user is not authorized.","operationId":"get_volumes_v2_volumes_get","security":[{"MithrilAPIKey":[]}],"parameters":[{"name":"project","in":"query","required":true,"schema":{"type":"string","title":"Project"}},{"name":"region","in":"query","required":false,"schema":{"type":"string","examples":["us-central1-a"],"nullable":true}},{"name":"include_deleted","in":"query","required":false,"schema":{"type":"boolean","default":false,"title":"Include Deleted"}}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/VolumeModel"},"title":"Response Get Volumes V2 Volumes Get"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}},"post":{"tags":["volumes"],"summary":"Create Volume","description":"Creates a new storage volume.\n\nArgs:\n    user_info: Authenticated user information.\n    body: Request body containing volume creation details (size, region, etc).\n\nReturns:\n    VolumeModel: The created volume model.\n\nRaises:\n    HTTPException: If user unauthorized or creation fails.","operationId":"create_volume_v2_volumes_post","security":[{"MithrilAPIKey":[]}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateVolumeRequest"}}}},"responses":{"201":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/VolumeModel"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/v2/volumes/{volume_fid}":{"delete":{"tags":["volumes"],"summary":"Delete Volume","description":"Deletes a storage volume.\n\nPermanently removes a volume. The volume must not be currently in use/attached.\n\nArgs:\n    user_info: Authenticated user information.\n    volume_fid: Identifier of the volume to delete.\n\nRaises:\n    HTTPException: If volume not found, user unauthorized, or volume is in use.","operationId":"delete_volume_v2_volumes__volume_fid__delete","security":[{"MithrilAPIKey":[]}],"parameters":[{"name":"volume_fid","in":"path","required":true,"schema":{"type":"string","examples":["vol_abc123456"],"title":"Volume Fid"}}],"responses":{"204":{"description":"Successful Response"},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}},"patch":{"tags":["volumes"],"summary":"Update Volume","description":"Updates a storage volume's mutable properties (e.g., name).\n\nArgs:\n    user_info: Authenticated user information.\n    volume_fid: Identifier of the volume to update.\n    body: Request body containing updated fields.\n\nReturns:\n    VolumeModel: The updated volume model.\n\nRaises:\n    HTTPException: If volume not found or user unauthorized.","operationId":"update_volume_v2_volumes__volume_fid__patch","security":[{"MithrilAPIKey":[]}],"parameters":[{"name":"volume_fid","in":"path","required":true,"schema":{"type":"string","examples":["vol_abc123456"],"title":"Volume Fid"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UpdateVolumeRequest"}}}},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/VolumeModel"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/v2/pricing/current":{"get":{"tags":["pricing"],"summary":"Get Current Prices V2","description":"Get current pricing information for an instance type.\n\nReturns the current spot price, reserved price, and minimum price for a given\ninstance type, optionally filtered by region.","operationId":"get_current_prices_v2_v2_pricing_current_get","security":[{"MithrilAPIKey":[]}],"parameters":[{"name":"instance_type","in":"query","required":true,"schema":{"type":"string","title":"Instance Type"}},{"name":"region","in":"query","required":false,"schema":{"type":"string","examples":["us-central1-a"],"nullable":true}},{"name":"instance_quantity","in":"query","required":false,"schema":{"type":"integer","maximum":256,"minimum":1,"default":1,"title":"Instance Quantity"}}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CurrentPricesResponse"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/v2/pricing/history":{"get":{"tags":["pricing"],"summary":"Get Historical Prices V2","description":"Get historical pricing information for instance types.\n\nReturns historical spot and reserved prices over time for instance types,\noptionally filtered by specific instance type and region.","operationId":"get_historical_prices_v2_v2_pricing_history_get","security":[{"MithrilAPIKey":[]}],"parameters":[{"name":"instance_types","in":"query","required":false,"schema":{"type":"string","nullable":true}},{"name":"region","in":"query","required":false,"schema":{"type":"string","examples":["us-central1-a"],"nullable":true}},{"name":"num_samples","in":"query","required":false,"schema":{"type":"integer","maximum":1000,"minimum":-1,"default":100,"title":"Num Samples"}},{"name":"start_time","in":"query","required":false,"schema":{"examples":["2024-01-01T00:00:00Z","2024-01-01T00:00:00+00:00","2024-01-01T00:00:00-00:00"],"type":"string","format":"datetime","nullable":true}},{"name":"end_time","in":"query","required":false,"schema":{"examples":["2024-01-01T00:00:00Z","2024-01-01T00:00:00+00:00","2024-01-01T00:00:00-00:00"],"type":"string","format":"datetime","nullable":true}}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HistoricalPricesResponseModel"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/v2/kubernetes/clusters":{"get":{"tags":["kubernetes clusters"],"summary":"Get Kubernetes Clusters","description":"Get all Kubernetes clusters for a project","operationId":"get_kubernetes_clusters_v2_kubernetes_clusters_get","security":[{"MithrilAPIKey":[]}],"parameters":[{"name":"project","in":"query","required":true,"schema":{"type":"string","title":"Project"}}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/KubernetesClusterModel"},"title":"Response Get Kubernetes Clusters V2 Kubernetes Clusters Get"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}},"post":{"tags":["kubernetes clusters"],"summary":"Create Kubernetes Cluster","description":"Create a new Kubernetes cluster","operationId":"create_kubernetes_cluster_v2_kubernetes_clusters_post","security":[{"MithrilAPIKey":[]}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateKubernetesClusterRequest"}}}},"responses":{"201":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/KubernetesClusterModel"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/v2/kubernetes/clusters/{cluster_fid}":{"get":{"tags":["kubernetes clusters"],"summary":"Get Kubernetes Cluster","description":"Get a specific Kubernetes cluster","operationId":"get_kubernetes_cluster_v2_kubernetes_clusters__cluster_fid__get","security":[{"MithrilAPIKey":[]}],"parameters":[{"name":"cluster_fid","in":"path","required":true,"schema":{"type":"string","title":"Cluster Fid"}}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/KubernetesClusterModel"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}},"delete":{"tags":["kubernetes clusters"],"summary":"Delete Kubernetes Cluster","description":"Delete a Kubernetes cluster","operationId":"delete_kubernetes_cluster_v2_kubernetes_clusters__cluster_fid__delete","security":[{"MithrilAPIKey":[]}],"parameters":[{"name":"cluster_fid","in":"path","required":true,"schema":{"type":"string","title":"Cluster Fid"}}],"responses":{"204":{"description":"Successful Response"},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/v2/instances":{"get":{"tags":["instances","instances"],"summary":"Get Instances","description":"Get all instances for a project","operationId":"get_instances_v2_instances_get","security":[{"MithrilAPIKey":[]}],"parameters":[{"name":"next_cursor","in":"query","required":false,"schema":{"nullable":true}},{"name":"sort_by","in":"query","required":false,"schema":{"enum":["created_at","instance_status","instance_type_fid"],"type":"string","nullable":true}},{"name":"sort_dir","in":"query","required":false,"schema":{"$ref":"#/components/schemas/SortDirection","nullable":true}},{"name":"project","in":"query","required":true,"schema":{"type":"string","title":"Project"}},{"name":"instance_type","in":"query","required":false,"schema":{"type":"string","examples":["it_abc123456"],"nullable":true}},{"name":"region","in":"query","required":false,"schema":{"type":"string","examples":["us-central1-a"],"nullable":true}},{"name":"status_in","in":"query","required":false,"schema":{"type":"array","items":{"enum":["STATUS_NEW","STATUS_CONFIRMED","STATUS_INITIALIZING","STATUS_STARTING","STATUS_RUNNING","STATUS_STOPPING","STATUS_TERMINATED","STATUS_RELOCATING","STATUS_PREEMPTING","STATUS_PREEMPTED","STATUS_REPLACED","STATUS_PAUSED","STATUS_ERROR"],"type":"string"},"description":"Comma-separated list of instance statuses","nullable":true}},{"name":"order_type_in","in":"query","required":false,"schema":{"type":"array","items":{"enum":["Bid","Reservation"],"type":"string"},"description":"Comma-separated list of order types","nullable":true}},{"name":"bid_fid_in","in":"query","required":false,"schema":{"type":"array","items":{"type":"string","examples":["bid_abc123456"]},"description":"Comma-separated list of bid FIDs","nullable":true}},{"name":"reservation_fid_in","in":"query","required":false,"schema":{"type":"array","items":{"type":"string","examples":["res_abc123456"]},"description":"Comma-separated list of reservation FIDs","nullable":true}},{"name":"limit","in":"query","required":false,"schema":{"type":"integer","maximum":100,"minimum":1,"nullable":true}}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GetInstancesResponse"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}},"patch":{"tags":["instances","instances"],"summary":"Put Instance Status","description":"Trigger a status change for a set of instances.\n\nThis endpoint supports batch start and pause requests for instances. The\nrequest accepts a set of instance FIDs and a target action\n(`STATUS_RUNNING` or `STATUS_PAUSED`).\n\nThe response always includes an entry for every requested instance, keyed by\ninstance FID, with that instance's current status after processing.\n- When an instance is successfully starting, its status is `STATUS_CONFIRMED`.\n- When an instance is successfully stopping, its status is `STATUS_STOPPING`.\n- If an instance cannot be stopped, its prior status is returned unchanged.\n\nPaused instances which are associated with a reservation will accrue a\ncredit based on the flexible usage buyback price on that reservation.\n\nNotes:\n- Only reserved instances are supported at this time.\n- This API is asynchronous. You can check the status of the instance with the\n  Get Status api.","operationId":"put_instance_status_v2_instances_patch","security":[{"MithrilAPIKey":[]}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/PatchInstanceStatusRequest"}}}},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PatchInstanceStatusResponse"}}}},"404":{"description":"One of the provided instances did not exist."},"501":{"description":"Spot bids are not yet supported."},"409":{"description":"One or more of the instances is not yet ready for this operation."},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/v2/instances/{instance_fid}/status":{"get":{"tags":["instances","instances"],"summary":"Get Instance Status","description":"Get the status of a specific instance by its ID.\nSupports authentication via mithril key or API key.","operationId":"get_instance_status_v2_instances__instance_fid__status_get","security":[{"MithrilAPIKey":[]}],"parameters":[{"name":"instance_fid","in":"path","required":true,"schema":{"type":"string","examples":["inst_abc123456"],"title":"Instance Fid"}}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/InstanceStatusResponse"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/v2/instances/{instance_fid}/refresh-boot-disk":{"post":{"tags":["instances","instances"],"summary":"Refresh Instance Boot Disk","description":"Refresh (delete and recreate) the boot disk of a reserved instance.\n\nThe instance must already be stopped: stop it first via the pause API\n(`PATCH /instances` with `STATUS_PAUSED`), then call this endpoint, then\nstart it again. A running instance is declined; this endpoint never\nstops the instance itself. When `image_version` is omitted the current\nboot image is reused.\n\nNotes:\n- Only reserved (non-spot) instances are supported at this time.\n- This is being rolled out across all our regions.","operationId":"refresh_instance_boot_disk_v2_instances__instance_fid__refresh_boot_disk_post","security":[{"MithrilAPIKey":[]}],"parameters":[{"name":"instance_fid","in":"path","required":true,"schema":{"type":"string","examples":["inst_abc123456"],"title":"Instance Fid"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/RefreshBootDiskRequest","nullable":true}}}},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/RefreshBootDiskResponse"}}}},"404":{"description":"The instance does not exist."},"501":{"description":"Boot disk refresh is not supported for this instance yet (spot instances, or not yet available in this instance's region)."},"409":{"description":"The instance has no underlying VM to refresh."},"422":{"description":"The instance is still running, or the requested image version is invalid for the instance's region. The body carries a `reason` of INSTANCE_RUNNING or INVALID_IMAGE_VERSION."}}}},"/v2/instances/status/history":{"get":{"tags":["instances","instances"],"summary":"Get Instance Status History","description":"Get the history of a specific instance by its ID,\nor of all instances in a bid or reservation.","operationId":"get_instance_status_history_v2_instances_status_history_get","security":[{"MithrilAPIKey":[]}],"parameters":[{"name":"project","in":"query","required":true,"schema":{"type":"string","examples":["proj_abc123456"],"title":"Project"}},{"name":"instance_fid","in":"query","required":false,"schema":{"type":"string","examples":["inst_abc123456"],"nullable":true}},{"name":"bid_fid","in":"query","required":false,"schema":{"type":"string","examples":["bid_abc123456"],"nullable":true}},{"name":"reservation_fid","in":"query","required":false,"schema":{"type":"string","examples":["res_abc123456"],"nullable":true}},{"name":"limit","in":"query","required":false,"schema":{"type":"integer","maximum":100,"minimum":1,"nullable":true}},{"name":"start_time","in":"query","required":false,"schema":{"examples":["2024-01-01T00:00:00Z","2024-01-01T00:00:00+00:00","2024-01-01T00:00:00-00:00"],"type":"string","format":"datetime","nullable":true}},{"name":"end_time","in":"query","required":false,"schema":{"examples":["2024-01-01T00:00:00Z","2024-01-01T00:00:00+00:00","2024-01-01T00:00:00-00:00"],"type":"string","format":"datetime","nullable":true}},{"name":"next_cursor","in":"query","required":false,"schema":{"type":"string","nullable":true}}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/InstanceStatusHistoryResponse"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/v2/instances/pricing/history":{"get":{"tags":["instances","instances"],"summary":"Get Instance Pricing History","description":"Get the pricing history of a specific instance by its ID,\nor of all instances in a bid or reservation.","operationId":"get_instance_pricing_history_v2_instances_pricing_history_get","security":[{"MithrilAPIKey":[]}],"parameters":[{"name":"project","in":"query","required":true,"schema":{"type":"string","examples":["proj_abc123456"],"title":"Project"}},{"name":"instance_fid","in":"query","required":false,"schema":{"type":"string","examples":["inst_abc123456"],"nullable":true}},{"name":"bid_fid","in":"query","required":false,"schema":{"type":"string","examples":["bid_abc123456"],"nullable":true}},{"name":"reservation_fid","in":"query","required":false,"schema":{"type":"string","examples":["res_abc123456"],"nullable":true}},{"name":"limit","in":"query","required":false,"schema":{"type":"integer","maximum":100,"minimum":1,"nullable":true}},{"name":"start_time","in":"query","required":false,"schema":{"examples":["2024-01-01T00:00:00Z","2024-01-01T00:00:00+00:00","2024-01-01T00:00:00-00:00"],"type":"string","format":"datetime","nullable":true}},{"name":"end_time","in":"query","required":false,"schema":{"examples":["2024-01-01T00:00:00Z","2024-01-01T00:00:00+00:00","2024-01-01T00:00:00-00:00"],"type":"string","format":"datetime","nullable":true}},{"name":"next_cursor","in":"query","required":false,"schema":{"type":"string","nullable":true}}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/InstancePricingHistoryResponse"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/v2/instance-types":{"get":{"tags":["instance types"],"summary":"Get Instance Types","description":"Get all instance types.","operationId":"get_instance_types_v2_instance_types_get","responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"items":{"$ref":"#/components/schemas/InstanceTypeModel"},"type":"array","title":"Response Get Instance Types V2 Instance Types Get"}}}}},"security":[{"MithrilAPIKey":[]}]}},"/v2/projects":{"get":{"tags":["projects"],"summary":"Get Projects","description":"Get all projects a user has access to","operationId":"get_projects_v2_projects_get","responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"items":{"$ref":"#/components/schemas/ProjectModel"},"type":"array","title":"Response Get Projects V2 Projects Get"}}}}},"security":[{"MithrilAPIKey":[]}]}},"/v2/image-versions":{"get":{"tags":["image versions"],"summary":"Get Image Versions","description":"Get all available image versions;\nthe stable image version is the default unless otherwise specified.","operationId":"get_image_versions_v2_image_versions_get","responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"items":{"$ref":"#/components/schemas/ImageVersionModel"},"type":"array","title":"Response Get Image Versions V2 Image Versions Get"}}}}},"security":[{"MithrilAPIKey":[]}]}},"/v2/mcc-image-versions":{"get":{"tags":["image versions"],"summary":"Get Mcc Image Versions","description":"Get MCC (CPU) image versions available for a region.\nThese are CPU-only images used for Kubernetes cluster control planes.","operationId":"get_mcc_image_versions_v2_mcc_image_versions_get","security":[{"MithrilAPIKey":[]}],"parameters":[{"name":"region","in":"query","required":true,"schema":{"type":"string","examples":["us-central1-a"],"title":"Region"}}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/ImageVersionModel"},"title":"Response Get Mcc Image Versions V2 Mcc Image Versions Get"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/v2/quotas":{"get":{"tags":["quotas"],"summary":"Get Quotas","description":"Get all quotas for a project in unified format","operationId":"get_quotas_v2_quotas_get","security":[{"MithrilAPIKey":[]}],"parameters":[{"name":"project","in":"query","required":true,"schema":{"type":"string","examples":["proj_abc123456"],"title":"Project"}}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/QuotaModel"},"title":"Response Get Quotas V2 Quotas Get"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}}},"components":{"schemas":{"ApiKeyModel":{"properties":{"fid":{"type":"string","title":"Fid","examples":["apikey_abc123456"]},"name":{"type":"string","title":"Name"},"created_at":{"type":"string","format":"datetime","title":"Created At","examples":["2024-01-01T00:00:00Z","2024-01-01T00:00:00+00:00","2024-01-01T00:00:00-00:00"]},"expires_at":{"type":"string","format":"datetime","title":"Expires At","examples":["2024-01-01T00:00:00Z","2024-01-01T00:00:00+00:00","2024-01-01T00:00:00-00:00"]},"deactivated_at":{"type":"string","format":"datetime","examples":["2024-01-01T00:00:00Z","2024-01-01T00:00:00+00:00","2024-01-01T00:00:00-00:00"],"nullable":true},"snippet":{"type":"string","title":"Snippet","examples":["fkey_abc1..."]}},"type":"object","required":["fid","name","created_at","expires_at","snippet"],"title":"ApiKeyModel"},"AuctionModel":{"properties":{"fid":{"type":"string","title":"Fid","examples":["auc_abc123456"]},"instance_type":{"type":"string","title":"Instance Type","examples":["it_abc123456"]},"region":{"type":"string","title":"Region","examples":["us-central1-a"]},"capacity":{"type":"integer","title":"Capacity","examples":[512]},"last_instance_price":{"type":"string","title":"Last Instance Price","examples":["$10.00"]},"lowest_allocated_price":{"type":"string","examples":["$15.00"],"nullable":true},"adjustable_memory":{"type":"boolean","title":"Adjustable Memory"},"default_image_version":{"type":"string","examples":["imgver_abc123456"],"nullable":true}},"type":"object","required":["fid","instance_type","region","capacity","last_instance_price","adjustable_memory"],"title":"AuctionModel"},"AvailabilitySlotModel":{"properties":{"start_time":{"type":"string","format":"datetime","title":"Start Time","examples":["2024-01-01T00:00:00Z","2024-01-01T00:00:00+00:00","2024-01-01T00:00:00-00:00"]},"end_time":{"type":"string","format":"datetime","title":"End Time","examples":["2024-01-01T00:00:00Z","2024-01-01T00:00:00+00:00","2024-01-01T00:00:00-00:00"]},"quantity":{"type":"integer","title":"Quantity"}},"type":"object","required":["start_time","end_time","quantity"],"title":"AvailabilitySlotModel"},"BidHistoryEventModel":{"properties":{"timestamp":{"type":"string","format":"datetime","title":"Timestamp","description":"When the event occurred","examples":["2024-01-01T00:00:00Z","2024-01-01T00:00:00+00:00","2024-01-01T00:00:00-00:00"]},"event_type":{"type":"string","enum":["Placed","Paused","Resumed","Terminated","Allocated","Preempted","Limit Price Changed","Memory Adjusted","Volumes Attached","Volumes Removed"],"title":"Event Type","examples":["Placed","Paused","Resumed","Terminated","Allocated","Preempted","Limit Price Changed","Memory Adjusted","Volumes Attached","Volumes Removed"]},"limit_price":{"type":"string","examples":["$15.60"],"nullable":true},"user_id":{"type":"string","nullable":true},"memory_gb":{"type":"integer","nullable":true},"persistent_disk_change":{"$ref":"#/components/schemas/PersistentDiskChange","nullable":true}},"type":"object","required":["timestamp","event_type"],"title":"BidHistoryEventModel","description":"A single event in the history of a spot bid."},"BidHistoryResponse":{"properties":{"bid_fid":{"type":"string","title":"Bid Fid","examples":["bid_abc123456"]},"events":{"items":{"$ref":"#/components/schemas/BidHistoryEventModel"},"type":"array","title":"Events","description":"List of historical events for this bid, ordered by timestamp"}},"type":"object","required":["bid_fid","events"],"title":"BidHistoryResponse","description":"Response model for bid history."},"BidModel":{"properties":{"fid":{"type":"string","title":"Fid","examples":["bid_abc123456"]},"name":{"type":"string","title":"Name"},"project":{"type":"string","title":"Project","examples":["proj_abc123456"]},"created_by":{"type":"string","title":"Created By","examples":["user_abc123456"]},"created_at":{"type":"string","format":"datetime","title":"Created At","examples":["2024-01-01T00:00:00Z","2024-01-01T00:00:00+00:00","2024-01-01T00:00:00-00:00"]},"deactivated_at":{"type":"string","format":"datetime","examples":["2024-01-01T00:00:00Z","2024-01-01T00:00:00+00:00","2024-01-01T00:00:00-00:00"],"nullable":true},"limit_price":{"type":"string","title":"Limit Price","examples":["$15.60"]},"instance_quantity":{"type":"integer","title":"Instance Quantity","examples":[4]},"instance_type":{"type":"string","title":"Instance Type","examples":["it_abc123456"]},"region":{"type":"string","examples":["us-central1-a"],"nullable":true},"instances":{"items":{"type":"string","examples":["inst_abc123456"]},"type":"array","title":"Instances"},"launch_specification":{"$ref":"#/components/schemas/LaunchSpecificationModel"},"status":{"type":"string","enum":["Open","Allocated","Preempting","Terminated","Paused"],"title":"Status","examples":["Open","Allocated","Preempting","Terminated","Paused"]}},"type":"object","required":["fid","name","project","created_by","created_at","limit_price","instance_quantity","instance_type","instances","launch_specification","status"],"title":"BidModel"},"BidStatusResponse":{"properties":{"bid_fid":{"type":"string","title":"Bid Fid","examples":["bid_xxxx"]},"status":{"type":"string","enum":["Open","Allocated","Preempting","Terminated","Paused","Relocating"],"title":"Status","examples":["Open","Allocated","Preempting","Terminated","Paused","Relocating"]}},"type":"object","required":["bid_fid","status"],"title":"BidStatusResponse","description":"Response model for the detailed bid status endpoint."},"CheckAvailabilityResponse":{"properties":{"available":{"type":"boolean","title":"Available"}},"type":"object","required":["available"],"title":"CheckAvailabilityResponse"},"CreateApiKeyRequest":{"properties":{"name":{"type":"string","title":"Name"},"expires_at":{"type":"string","format":"datetime","title":"Expires At","examples":["2024-01-01T00:00:00Z","2024-01-01T00:00:00+00:00","2024-01-01T00:00:00-00:00"]}},"type":"object","required":["name","expires_at"],"title":"CreateApiKeyRequest"},"CreateApiKeyResponse":{"properties":{"fid":{"type":"string","title":"Fid","examples":["apikey_abc123456"]},"name":{"type":"string","title":"Name"},"created_at":{"type":"string","format":"datetime","title":"Created At","examples":["2024-01-01T00:00:00Z","2024-01-01T00:00:00+00:00","2024-01-01T00:00:00-00:00"]},"expires_at":{"type":"string","format":"datetime","title":"Expires At","examples":["2024-01-01T00:00:00Z","2024-01-01T00:00:00+00:00","2024-01-01T00:00:00-00:00"]},"deactivated_at":{"type":"string","format":"datetime","examples":["2024-01-01T00:00:00Z","2024-01-01T00:00:00+00:00","2024-01-01T00:00:00-00:00"],"nullable":true},"snippet":{"type":"string","title":"Snippet","examples":["fkey_abc1..."]},"secret":{"type":"string","title":"Secret","examples":["fkey_abc123456"]}},"type":"object","required":["fid","name","created_at","expires_at","snippet","secret"],"title":"CreateApiKeyResponse"},"CreateBidRequest":{"properties":{"project":{"type":"string","title":"Project","examples":["proj_abc123456"]},"region":{"type":"string","title":"Region","examples":["us-central1-a"]},"instance_type":{"type":"string","title":"Instance Type","examples":["it_abc123456"]},"limit_price":{"type":"string","title":"Limit Price","examples":["$25.60"]},"instance_quantity":{"type":"integer","title":"Instance Quantity","examples":[4]},"name":{"type":"string","title":"Name"},"launch_specification":{"$ref":"#/components/schemas/LaunchSpecificationModel"},"notification_email":{"type":"string","nullable":true}},"type":"object","required":["project","region","instance_type","limit_price","instance_quantity","name","launch_specification"],"title":"CreateBidRequest"},"CreateKubernetesClusterRequest":{"properties":{"name":{"type":"string","title":"Name"},"project":{"type":"string","title":"Project","examples":["proj_abc123456"]},"region":{"type":"string","title":"Region","examples":["us-central1-a"]},"ssh_keys":{"items":{"type":"string","examples":["sshkey_abc123456"]},"type":"array","minItems":1,"title":"Ssh Keys"},"instance_type":{"type":"string","title":"Instance Type","examples":["it_abc123456"]},"k8s_version":{"type":"string","enum":["1.34","1.29"],"title":"K8S Version","default":"1.34"},"image_version":{"type":"string","examples":["imgver_abc123456"],"nullable":true}},"type":"object","required":["name","project","region","ssh_keys","instance_type"],"title":"CreateKubernetesClusterRequest"},"CreateLifecycleScriptRequest":{"properties":{"project":{"type":"string","title":"Project","examples":["proj_abc123456"]},"name":{"type":"string","minLength":1,"title":"Name"},"content":{"type":"string","minLength":1,"title":"Content"},"description":{"type":"string","nullable":true},"scope":{"$ref":"#/components/schemas/PublicLifecycleScriptScope","default":"PROJECT","examples":[]}},"type":"object","required":["project","name","content"],"title":"CreateLifecycleScriptRequest"},"CreateReservationRequest":{"properties":{"project":{"type":"string","title":"Project","examples":["proj_abc123456"]},"instance_type":{"type":"string","title":"Instance Type","examples":["it_abc123456"]},"region":{"type":"string","title":"Region","examples":["us-central1-a"]},"start_time":{"type":"string","format":"datetime","title":"Start Time","examples":["2024-01-01T00:00:00Z","2024-01-01T00:00:00+00:00","2024-01-01T00:00:00-00:00"]},"end_time":{"type":"string","format":"datetime","title":"End Time","examples":["2024-01-01T00:00:00Z","2024-01-01T00:00:00+00:00","2024-01-01T00:00:00-00:00"]},"instance_quantity":{"type":"integer","title":"Instance Quantity","examples":[4]},"name":{"type":"string","title":"Name"},"launch_specification":{"$ref":"#/components/schemas/LaunchSpecificationModel"},"price_specification":{"$ref":"#/components/schemas/PriceSpecification","nullable":true},"notification_email":{"type":"string","nullable":true}},"type":"object","required":["project","instance_type","region","start_time","end_time","instance_quantity","name","launch_specification"],"title":"CreateReservationRequest"},"CreateSshKeyRequest":{"properties":{"project":{"type":"string","title":"Project","examples":["proj_abc123456"]},"name":{"type":"string","title":"Name"},"public_key":{"type":"string","nullable":true},"required":{"type":"boolean","title":"Required","default":false}},"type":"object","required":["project","name"],"title":"CreateSshKeyRequest"},"CreateVolumeRequest":{"properties":{"name":{"type":"string","maxLength":64,"pattern":"^[a-z]([-a-z0-9]*[a-z0-9])?$","title":"Name"},"project":{"type":"string","title":"Project","examples":["proj_abc123456"]},"disk_interface":{"type":"string","enum":["Block","File"],"title":"Disk Interface"},"region":{"type":"string","title":"Region","examples":["us-central1-a"]},"size_gb":{"title":"Size Gb","gt":{"_unit":"b","_value":0},"lt":{"_unit":"pib","_value":2}}},"type":"object","required":["name","project","disk_interface","region","size_gb"],"title":"CreateVolumeRequest","description":"Request model for creating a new storage volume."},"CreatedSshKeyModel":{"properties":{"fid":{"type":"string","title":"Fid","examples":["sshkey_abc123456"]},"name":{"type":"string","title":"Name"},"project":{"type":"string","title":"Project","examples":["proj_abc123456"]},"public_key":{"type":"string","title":"Public Key"},"created_at":{"type":"string","format":"datetime","title":"Created At","examples":["2024-01-01T00:00:00Z","2024-01-01T00:00:00+00:00","2024-01-01T00:00:00-00:00"]},"required":{"type":"boolean","title":"Required"},"private_key":{"type":"string","examples":["-----BEGIN RSA PRIVATE KEY-----..."],"nullable":true}},"type":"object","required":["fid","name","project","public_key","created_at","required"],"title":"CreatedSshKeyModel"},"CurrentPricesResponse":{"properties":{"spot_price_cents":{"type":"integer","nullable":true},"reserved_price_cents":{"type":"integer","nullable":true},"minimum_price_cents":{"type":"integer","nullable":true},"lowest_allocated_bid_cents":{"type":"integer","nullable":true},"dynamic_win_price_cents":{"type":"integer","nullable":true},"available_capacity":{"type":"integer","nullable":true},"total_capacity":{"type":"integer","nullable":true}},"type":"object","title":"CurrentPricesResponse"},"ExtendReservationRequest":{"properties":{"end_time":{"type":"string","format":"datetime","title":"End Time","examples":["2024-01-01T00:00:00Z","2024-01-01T00:00:00+00:00","2024-01-01T00:00:00-00:00"]},"price_specification":{"$ref":"#/components/schemas/PriceSpecification","nullable":true}},"type":"object","required":["end_time"],"title":"ExtendReservationRequest"},"ExtensionAvailabilityResponse":{"properties":{"latest_extension_time":{"type":"string","format":"datetime","title":"Latest Extension Time","examples":["2024-01-01T00:00:00Z","2024-01-01T00:00:00+00:00","2024-01-01T00:00:00-00:00"]},"available":{"type":"boolean","title":"Available"}},"type":"object","required":["latest_extension_time","available"],"title":"ExtensionAvailabilityResponse"},"GetBidsResponse":{"properties":{"data":{"items":{"$ref":"#/components/schemas/BidModel"},"type":"array","title":"Data"},"next_cursor":{"type":"string","nullable":true}},"type":"object","required":["data"],"title":"GetBidsResponse"},"GetInstancesResponse":{"properties":{"data":{"items":{"$ref":"#/components/schemas/InstanceModel"},"type":"array","title":"Data"},"next_cursor":{"type":"string","nullable":true}},"type":"object","required":["data"],"title":"GetInstancesResponse"},"GetLatestEndTimeResponse":{"properties":{"latest_end_time":{"type":"string","format":"datetime","title":"Latest End Time","examples":["2024-01-01T00:00:00Z","2024-01-01T00:00:00+00:00","2024-01-01T00:00:00-00:00"]},"available":{"type":"boolean","title":"Available"}},"type":"object","required":["latest_end_time","available"],"title":"GetLatestEndTimeResponse"},"GetReservationsResponse":{"properties":{"data":{"items":{"$ref":"#/components/schemas/ReservationModel"},"type":"array","title":"Data"},"next_cursor":{"type":"string","nullable":true}},"type":"object","required":["data"],"title":"GetReservationsResponse"},"GrantUsageModel":{"properties":{"fid":{"type":"string","title":"Fid"},"starts_at":{"type":"string","format":"datetime","title":"Starts At","examples":["2024-01-01T00:00:00Z","2024-01-01T00:00:00+00:00","2024-01-01T00:00:00-00:00"]},"ends_at":{"type":"string","format":"datetime","title":"Ends At","examples":["2024-01-01T00:00:00Z","2024-01-01T00:00:00+00:00","2024-01-01T00:00:00-00:00"]},"quantity":{"type":"integer","title":"Quantity"},"unit_price":{"type":"integer","title":"Unit Price"},"price_credit":{"type":"integer","title":"Price Credit"},"return_credit":{"type":"integer","title":"Return Credit"}},"type":"object","required":["fid","starts_at","ends_at","quantity","unit_price","price_credit","return_credit"],"title":"GrantUsageModel"},"HTTPValidationError":{"properties":{"detail":{"items":{"$ref":"#/components/schemas/ValidationError"},"type":"array","title":"Detail"}},"type":"object","title":"HTTPValidationError"},"HistoricalPriceSeriesModel":{"properties":{"instance_type":{"type":"string","title":"Instance Type","examples":["it_abc123456"]},"region":{"type":"string","title":"Region"},"timestamps":{"items":{"type":"string","format":"datetime","examples":["2024-01-01T00:00:00Z","2024-01-01T00:00:00+00:00","2024-01-01T00:00:00-00:00"]},"type":"array","title":"Timestamps"},"spot_prices":{"items":{"type":"string"},"type":"array","title":"Spot Prices"},"reserved_prices":{"items":{"type":"string"},"type":"array","title":"Reserved Prices"},"region_disabled":{"type":"boolean","title":"Region Disabled","default":false}},"type":"object","required":["instance_type","region","timestamps","spot_prices","reserved_prices"],"title":"HistoricalPriceSeriesModel","description":"A single time-series of prices for one instance type in one region."},"HistoricalPricesResponseModel":{"properties":{"series":{"items":{"$ref":"#/components/schemas/HistoricalPriceSeriesModel"},"type":"array","title":"Series"},"complete":{"type":"boolean","title":"Complete","default":true}},"type":"object","required":["series"],"title":"HistoricalPricesResponseModel","description":"Response model for historical pricing data."},"ImageVersionModel":{"properties":{"image_version_fid":{"type":"string","title":"Image Version Fid","examples":["imgver_abc123456"]},"image_version_name":{"type":"string","title":"Image Version Name"},"os":{"type":"string","title":"Os"},"kernel":{"type":"string","title":"Kernel"},"stable":{"type":"boolean","title":"Stable"},"supported_regions":{"items":{"type":"string"},"type":"array","title":"Supported Regions"},"deactivated_at":{"type":"string","format":"datetime","examples":["2024-01-01T00:00:00Z","2024-01-01T00:00:00+00:00","2024-01-01T00:00:00-00:00"],"nullable":true},"nvidia_driver":{"type":"string","nullable":true},"cuda":{"type":"string","nullable":true},"cuda_toolkit":{"type":"string","nullable":true},"nvidia_container_toolkit":{"type":"string","nullable":true},"packages":{"type":"string","nullable":true}},"type":"object","required":["image_version_fid","image_version_name","os","kernel","stable","supported_regions"],"title":"ImageVersionModel"},"InstanceModel":{"properties":{"fid":{"type":"string","title":"Fid","examples":["inst_abc123456"]},"name":{"type":"string","title":"Name"},"project":{"type":"string","title":"Project","examples":["proj_abc123456"]},"created_at":{"type":"string","format":"datetime","title":"Created At","examples":["2024-01-01T00:00:00Z","2024-01-01T00:00:00+00:00","2024-01-01T00:00:00-00:00"]},"created_by":{"type":"string","title":"Created By","examples":["user_abc123456"]},"instance_type":{"type":"string","title":"Instance Type","examples":["it_abc123456"]},"region":{"type":"string","examples":["us-central1-a"],"nullable":true},"bid":{"type":"string","examples":["bid_abc123456"],"nullable":true},"reservation":{"type":"string","examples":["res_abc123456"],"nullable":true},"ssh_destination":{"type":"string","nullable":true},"private_ip":{"type":"string","nullable":true},"status":{"type":"string","enum":["STATUS_NEW","STATUS_CONFIRMED","STATUS_INITIALIZING","STATUS_STARTING","STATUS_RUNNING","STATUS_STOPPING","STATUS_TERMINATED","STATUS_RELOCATING","STATUS_PREEMPTING","STATUS_PREEMPTED","STATUS_REPLACED","STATUS_PAUSED","STATUS_ERROR"],"title":"Status","examples":["STATUS_NEW","STATUS_CONFIRMED","STATUS_INITIALIZING","STATUS_STARTING","STATUS_RUNNING","STATUS_STOPPING","STATUS_TERMINATED","STATUS_RELOCATING","STATUS_PREEMPTING","STATUS_PREEMPTED","STATUS_REPLACED","STATUS_PAUSED","STATUS_ERROR"]}},"type":"object","required":["fid","name","project","created_at","created_by","instance_type","status"],"title":"InstanceModel"},"InstancePricingEvent":{"properties":{"price_cents":{"type":"integer","title":"Price Cents"},"start_time":{"type":"string","format":"datetime","title":"Start Time","examples":["2024-01-01T00:00:00Z","2024-01-01T00:00:00+00:00","2024-01-01T00:00:00-00:00"]},"end_time":{"type":"string","format":"datetime","examples":["2024-01-01T00:00:00Z","2024-01-01T00:00:00+00:00","2024-01-01T00:00:00-00:00"],"nullable":true}},"type":"object","required":["price_cents","start_time","end_time"],"title":"InstancePricingEvent","description":"A price period in the history of an instance."},"InstancePricingHistory":{"properties":{"instance_fid":{"type":"string","title":"Instance Fid","examples":["inst_abc123456"]},"events":{"items":{"$ref":"#/components/schemas/InstancePricingEvent"},"type":"array","title":"Events"},"bid_fid":{"type":"string","examples":["bid_abc123456"],"nullable":true},"reservation_fid":{"type":"string","examples":["res_abc123456"],"nullable":true}},"type":"object","required":["instance_fid","events"],"title":"InstancePricingHistory","description":"The history of an instance's pricing."},"InstancePricingHistoryResponse":{"properties":{"instances":{"items":{"$ref":"#/components/schemas/InstancePricingHistory"},"type":"array","title":"Instances"},"next_cursor":{"type":"string","nullable":true}},"type":"object","required":["instances"],"title":"InstancePricingHistoryResponse","description":"Response model for instance pricing history endpoint."},"InstanceStatusEvent":{"properties":{"timestamp":{"type":"string","format":"datetime","title":"Timestamp","examples":["2024-01-01T00:00:00Z","2024-01-01T00:00:00+00:00","2024-01-01T00:00:00-00:00"]},"status":{"type":"string","enum":["STATUS_NEW","STATUS_CONFIRMED","STATUS_INITIALIZING","STATUS_STARTING","STATUS_RUNNING","STATUS_STOPPING","STATUS_TERMINATED","STATUS_RELOCATING","STATUS_PREEMPTING","STATUS_PREEMPTED","STATUS_REPLACED","STATUS_PAUSED","STATUS_ERROR"],"title":"Status"}},"type":"object","required":["timestamp","status"],"title":"InstanceStatusEvent","description":"An event in the history of an instance's status."},"InstanceStatusHistory":{"properties":{"instance_fid":{"type":"string","title":"Instance Fid","examples":["inst_abc123456"]},"events":{"items":{"$ref":"#/components/schemas/InstanceStatusEvent"},"type":"array","title":"Events"},"bid_fid":{"type":"string","examples":["bid_abc123456"],"nullable":true},"reservation_fid":{"type":"string","examples":["res_abc123456"],"nullable":true}},"type":"object","required":["instance_fid","events"],"title":"InstanceStatusHistory","description":"The history of an instance's status."},"InstanceStatusHistoryResponse":{"properties":{"instances":{"items":{"$ref":"#/components/schemas/InstanceStatusHistory"},"type":"array","title":"Instances"},"next_cursor":{"type":"string","nullable":true}},"type":"object","required":["instances"],"title":"InstanceStatusHistoryResponse","description":"Response model for instance status history endpoint."},"InstanceStatusResponse":{"properties":{"fid":{"type":"string","title":"Fid","examples":["inst_abc123456"]},"name":{"type":"string","title":"Name"},"status":{"type":"string","enum":["STATUS_NEW","STATUS_CONFIRMED","STATUS_INITIALIZING","STATUS_STARTING","STATUS_RUNNING","STATUS_STOPPING","STATUS_TERMINATED","STATUS_RELOCATING","STATUS_PREEMPTING","STATUS_PREEMPTED","STATUS_REPLACED","STATUS_PAUSED","STATUS_ERROR"],"title":"Status","examples":["STATUS_NEW","STATUS_CONFIRMED","STATUS_INITIALIZING","STATUS_STARTING","STATUS_RUNNING","STATUS_STOPPING","STATUS_TERMINATED","STATUS_RELOCATING","STATUS_PREEMPTING","STATUS_PREEMPTED","STATUS_REPLACED","STATUS_PAUSED","STATUS_ERROR"]},"bid":{"type":"string","examples":["bid_abc123456"],"nullable":true},"reservation":{"type":"string","examples":["res_abc123456"],"nullable":true},"end_time":{"type":"string","format":"datetime","examples":["2024-01-01T00:00:00Z","2024-01-01T00:00:00+00:00","2024-01-01T00:00:00-00:00"],"nullable":true}},"type":"object","required":["fid","name","status"],"title":"InstanceStatusResponse","description":"Response model for instance status endpoint."},"InstanceTypeModel":{"properties":{"fid":{"type":"string","title":"Fid","examples":["it_abc123456"]},"name":{"type":"string","title":"Name","examples":["h100.80gb.sxm"]},"num_cpus":{"type":"integer","title":"Num Cpus","examples":[192]},"cpu_type":{"type":"string","title":"Cpu Type","examples":["Intel"]},"ram_gb":{"type":"integer","title":"Ram Gb","examples":[1800]},"num_gpus":{"type":"integer","title":"Num Gpus","examples":[8]},"gpu_type":{"type":"string","title":"Gpu Type","examples":["H100"]},"gpu_memory_gb":{"type":"integer","title":"Gpu Memory Gb","examples":[80]},"gpu_socket":{"type":"string","title":"Gpu Socket","examples":["SXM5"]},"local_storage_gb":{"type":"integer","title":"Local Storage Gb","examples":[7800]},"network_type":{"type":"string","examples":["InfiniBand"],"nullable":true},"ib_count":{"type":"integer","title":"Ib Count","examples":[8]},"bridge_count":{"type":"integer","title":"Bridge Count","examples":[4]}},"type":"object","required":["fid","name","num_cpus","cpu_type","ram_gb","num_gpus","gpu_type","gpu_memory_gb","gpu_socket","local_storage_gb","ib_count","bridge_count"],"title":"InstanceTypeModel"},"KubernetesClusterModel":{"properties":{"fid":{"type":"string","title":"Fid"},"project":{"type":"string","title":"Project"},"name":{"type":"string","title":"Name"},"region":{"type":"string","title":"Region","examples":["us-central1-a"]},"created_at":{"type":"string","format":"datetime","title":"Created At","examples":["2024-01-01T00:00:00Z","2024-01-01T00:00:00+00:00","2024-01-01T00:00:00-00:00"]},"kube_host":{"type":"string","nullable":true},"ssh_keys":{"items":{"type":"string","examples":["sshkey_abc123456"]},"type":"array","title":"Ssh Keys"},"instances":{"items":{"type":"string","examples":["inst_abc123456"]},"type":"array","title":"Instances"},"join_command":{"type":"string","nullable":true},"status":{"type":"string","enum":["Pending","Available","Terminated"],"title":"Status"},"deleted_at":{"type":"string","format":"datetime","examples":["2024-01-01T00:00:00Z","2024-01-01T00:00:00+00:00","2024-01-01T00:00:00-00:00"],"nullable":true},"k8s_version":{"type":"string","title":"K8S Version"},"user_fid":{"type":"string","nullable":true}},"type":"object","required":["fid","project","name","region","created_at","ssh_keys","instances","status","k8s_version"],"title":"KubernetesClusterModel"},"LaunchSpecificationModel":{"properties":{"volumes":{"items":{"type":"string","examples":["vol_abc123456"]},"type":"array","title":"Volumes","description":"List of volume FIDs","examples":[["vol_1234567890","vol_1234567891"]]},"ssh_keys":{"items":{"type":"string","examples":["sshkey_abc123456"]},"type":"array","title":"Ssh Keys","description":"List of SSH key FIDs","examples":[["sshkey_1234567890","sshkey_1234567891"]]},"startup_script":{"type":"string","nullable":true},"kubernetes_cluster":{"type":"string","examples":["clust_abc123456"],"nullable":true},"image_version":{"type":"string","examples":["imgver_abc123456"],"nullable":true},"memory_gb":{"type":"integer","nullable":true}},"type":"object","required":["volumes","ssh_keys"],"title":"LaunchSpecificationModel"},"LifecycleScriptModel":{"properties":{"fid":{"type":"string","title":"Fid"},"name":{"type":"string","title":"Name"},"description":{"type":"string","title":"Description"},"content_url":{"type":"string","maxLength":2083,"minLength":1,"format":"uri","title":"Content Url"},"project":{"type":"string","title":"Project","examples":["proj_abc123456"]},"created_at":{"type":"string","format":"datetime","title":"Created At","examples":["2024-01-01T00:00:00Z","2024-01-01T00:00:00+00:00","2024-01-01T00:00:00-00:00"]},"created_by":{"type":"string","title":"Created By","examples":["user_abc123456"]},"last_modified_at":{"type":"string","format":"datetime","title":"Last Modified At","examples":["2024-01-01T00:00:00Z","2024-01-01T00:00:00+00:00","2024-01-01T00:00:00-00:00"]},"last_modified_by":{"type":"string","title":"Last Modified By","examples":["user_abc123456"]},"scope":{"$ref":"#/components/schemas/LifecycleScriptScope"}},"type":"object","required":["fid","name","description","content_url","project","created_at","created_by","last_modified_at","last_modified_by","scope"],"title":"LifecycleScriptModel"},"LifecycleScriptScope":{"type":"string","enum":["PROJECT","ORGANIZATION","PLATFORM"]},"ListLifecycleScriptsResponse":{"properties":{"data":{"items":{"$ref":"#/components/schemas/LifecycleScriptModel"},"type":"array","title":"Data"},"next_cursor":{"type":"string","nullable":true}},"type":"object","required":["data"],"title":"ListLifecycleScriptsResponse"},"MeResponse":{"properties":{"id":{"type":"string","title":"Id"},"fid":{"type":"string","title":"Fid","examples":["user_abc123456"]},"email":{"type":"string","format":"email","title":"Email"},"user_name":{"type":"string","nullable":true},"organization_id":{"type":"string","title":"Organization Id"},"organization_role":{"type":"string","nullable":true}},"type":"object","required":["id","fid","email","organization_id"],"title":"MeResponse"},"NewSshKeyModel":{"properties":{"fid":{"type":"string","title":"Fid","examples":["sshkey_abc123456"]},"name":{"type":"string","title":"Name"},"project":{"type":"string","title":"Project","examples":["proj_abc123456"]},"public_key":{"type":"string","title":"Public Key"},"created_at":{"type":"string","format":"datetime","title":"Created At","examples":["2024-01-01T00:00:00Z","2024-01-01T00:00:00+00:00","2024-01-01T00:00:00-00:00"]},"required":{"type":"boolean","title":"Required"}},"type":"object","required":["fid","name","project","public_key","created_at","required"],"title":"NewSshKeyModel"},"PatchInstanceStatusRequest":{"properties":{"instances":{"items":{"type":"string","examples":["inst_abc123456"]},"type":"array","uniqueItems":true,"title":"Instances"},"status":{"type":"string","enum":["STATUS_RUNNING","STATUS_PAUSED"],"title":"Status"}},"type":"object","required":["instances","status"],"title":"PatchInstanceStatusRequest"},"PatchInstanceStatusResponse":{"properties":{"instances":{"additionalProperties":{"type":"string","enum":["STATUS_NEW","STATUS_CONFIRMED","STATUS_INITIALIZING","STATUS_STARTING","STATUS_RUNNING","STATUS_STOPPING","STATUS_TERMINATED","STATUS_RELOCATING","STATUS_PREEMPTING","STATUS_PREEMPTED","STATUS_REPLACED","STATUS_PAUSED","STATUS_ERROR"]},"propertyNames":{"examples":["inst_abc123456"]},"type":"object","title":"Instances"}},"type":"object","required":["instances"],"title":"PatchInstanceStatusResponse"},"PersistentDiskChange":{"properties":{"attached":{"type":"string","nullable":true},"removed":{"type":"string","nullable":true}},"type":"object","title":"PersistentDiskChange"},"PriceSpecification":{"properties":{"offer_key":{"type":"string","title":"Offer Key","default":"standard"},"max_unit_price":{"type":"integer","minimum":0.0,"examples":[500],"nullable":true}},"type":"object","title":"PriceSpecification","description":"Optional pricing specification for flexible reservations.\n\nIf omitted, the reservation defaults to the 'standard' offer.\nIf provided, the system applies the specified offer's pricing."},"PricingEventModel":{"properties":{"id":{"type":"string","format":"uuid","title":"Id"},"occurred_at":{"type":"string","format":"datetime","title":"Occurred At","examples":["2024-01-01T00:00:00Z","2024-01-01T00:00:00+00:00","2024-01-01T00:00:00-00:00"]},"instance_fid":{"type":"string","title":"Instance Fid","examples":["inst_abc123456"]},"instance_name":{"type":"string","title":"Instance Name"},"instance_status":{"type":"string","enum":["STATUS_NEW","STATUS_CONFIRMED","STATUS_INITIALIZING","STATUS_STARTING","STATUS_RUNNING","STATUS_STOPPING","STATUS_TERMINATED","STATUS_RELOCATING","STATUS_PREEMPTING","STATUS_PREEMPTED","STATUS_REPLACED","STATUS_PAUSED","STATUS_ERROR"],"title":"Instance Status"}},"type":"object","required":["id","occurred_at","instance_fid","instance_name","instance_status"],"title":"PricingEventModel"},"ProjectModel":{"properties":{"fid":{"type":"string","title":"Fid","examples":["proj_abc123456"]},"name":{"type":"string","title":"Name"},"created_at":{"type":"string","format":"datetime","title":"Created At","examples":["2024-01-01T00:00:00Z","2024-01-01T00:00:00+00:00","2024-01-01T00:00:00-00:00"]}},"type":"object","required":["fid","name","created_at"],"title":"ProjectModel"},"PublicLifecycleScriptScope":{"type":"string","enum":["PROJECT","ORGANIZATION"]},"QuotaModel":{"properties":{"fid":{"type":"string","title":"Fid","description":"Unique identifier for the quota"},"project":{"type":"string","title":"Project","description":"Project FID this quota belongs to","examples":["proj_abc123456"]},"instance_type":{"type":"string","examples":["it_abc123456"],"nullable":true},"product_type":{"type":"string","title":"Product Type","description":"Type of product (e.g., 'Spot', 'Reservations', 'Storage')"},"total_quantity":{"type":"integer","minimum":0.0,"title":"Total Quantity","description":"Total quota quantity used"},"used_quantity":{"type":"integer","minimum":0.0,"title":"Used Quantity","description":"Total quota quantity used"},"units":{"type":"string","title":"Units","description":"Units for the quota (e.g., 'instances', 'GB')"},"name":{"type":"string","title":"Name","description":"Human-readable display name for the quota"}},"type":"object","required":["fid","project","product_type","total_quantity","used_quantity","units","name"],"title":"QuotaModel","description":"Unified quota model for all quota types (instances, storage, Kubernetes)."},"RefreshBootDiskRequest":{"properties":{"image_version":{"type":"string","examples":["imgver_abc123456"],"nullable":true}},"type":"object","title":"RefreshBootDiskRequest","description":"Request body for the refresh-boot-disk endpoint.\n\nThe body is optional; when ``image_version`` is omitted the instance's\ncurrent boot image is reused."},"RefreshBootDiskResponse":{"properties":{"fid":{"type":"string","title":"Fid","examples":["inst_abc123456"]},"image_version":{"type":"string","examples":["imgver_abc123456"],"nullable":true},"status":{"type":"string","const":"REFRESHED","title":"Status"}},"type":"object","required":["fid","image_version","status"],"title":"RefreshBootDiskResponse","description":"Response model for the refresh-boot-disk endpoint."},"ReservationHistoryEventModel":{"properties":{"timestamp":{"type":"string","format":"datetime","title":"Timestamp","description":"When the event occurred","examples":["2024-01-01T00:00:00Z","2024-01-01T00:00:00+00:00","2024-01-01T00:00:00-00:00"]},"event_type":{"type":"string","enum":["Placed","Active","Paused","Resumed","Canceled","Ended","Terms Set","Terms Changed"],"title":"Event Type","examples":["Placed","Active","Paused","Resumed","Canceled","Ended","Terms Set","Terms Changed"]},"user_id":{"type":"string","nullable":true},"unit_price_cents":{"type":"integer","nullable":true},"pause_credit_cents":{"type":"integer","nullable":true},"return_credit_cents":{"type":"integer","nullable":true}},"type":"object","required":["timestamp","event_type"],"title":"ReservationHistoryEventModel","description":"A single event in the history of a reservation."},"ReservationHistoryResponse":{"properties":{"reservation_fid":{"type":"string","title":"Reservation Fid","examples":["res_abc123456"]},"events":{"items":{"$ref":"#/components/schemas/ReservationHistoryEventModel"},"type":"array","title":"Events","description":"List of historical events for this reservation, ordered by time"}},"type":"object","required":["reservation_fid","events"],"title":"ReservationHistoryResponse","description":"Response model for reservation history."},"ReservationInfoModel":{"properties":{"fid":{"type":"string","title":"Fid","examples":["res_abc123456"]},"order_name":{"type":"string","title":"Order Name"},"start_date":{"type":"string","format":"datetime","title":"Start Date","examples":["2024-01-01T00:00:00Z","2024-01-01T00:00:00+00:00","2024-01-01T00:00:00-00:00"]},"end_date":{"type":"string","format":"datetime","title":"End Date","examples":["2024-01-01T00:00:00Z","2024-01-01T00:00:00+00:00","2024-01-01T00:00:00-00:00"]},"status":{"type":"string","enum":["Open","Allocated","Preempting","Terminated","Paused"]},"committed_cost_cents":{"type":"integer","title":"Committed Cost Cents"}},"type":"object","required":["fid","order_name","start_date","end_date","status","committed_cost_cents"],"title":"ReservationInfoModel"},"ReservationLevelEventModel":{"properties":{"occurred_at":{"type":"string","format":"datetime","title":"Occurred At","examples":["2024-01-01T00:00:00Z","2024-01-01T00:00:00+00:00","2024-01-01T00:00:00-00:00"]},"event_type":{"type":"string","enum":["Started","Paused","Extended"],"title":"Event Type"},"reservation_name":{"type":"string","title":"Reservation Name"}},"type":"object","required":["occurred_at","event_type","reservation_name"],"title":"ReservationLevelEventModel"},"ReservationModel":{"properties":{"fid":{"type":"string","title":"Fid","examples":["res_abc123456"]},"name":{"type":"string","title":"Name"},"project":{"type":"string","title":"Project","examples":["proj_abc123456"]},"created_by":{"type":"string","title":"Created By","examples":["user_abc123456"]},"created_at":{"type":"string","format":"datetime","title":"Created At","examples":["2024-01-01T00:00:00Z","2024-01-01T00:00:00+00:00","2024-01-01T00:00:00-00:00"]},"deactivated_at":{"type":"string","format":"datetime","examples":["2024-01-01T00:00:00Z","2024-01-01T00:00:00+00:00","2024-01-01T00:00:00-00:00"],"nullable":true},"instance_quantity":{"type":"integer","title":"Instance Quantity","examples":[4]},"instance_type":{"type":"string","title":"Instance Type","examples":["it_abc123456"]},"region":{"type":"string","examples":["us-central1-a"],"nullable":true},"instances":{"items":{"type":"string","examples":["inst_abc123456"]},"type":"array","title":"Instances"},"launch_specification":{"$ref":"#/components/schemas/LaunchSpecificationModel"},"status":{"type":"string","enum":["Pending","Active","Paused","Canceled","Ended"],"title":"Status","examples":["Pending","Active","Paused","Canceled","Ended"]},"start_time":{"type":"string","format":"datetime","title":"Start Time","examples":["2024-01-01T00:00:00Z","2024-01-01T00:00:00+00:00","2024-01-01T00:00:00-00:00"]},"end_time":{"type":"string","format":"datetime","title":"End Time","examples":["2024-01-01T00:00:00Z","2024-01-01T00:00:00+00:00","2024-01-01T00:00:00-00:00"]},"total_price":{"type":"string","title":"Total Price","examples":["$47.76"]},"unit_price":{"type":"string","title":"Unit Price","examples":["$1.99"]}},"type":"object","required":["fid","name","project","created_by","created_at","instance_quantity","instance_type","instances","launch_specification","status","start_time","end_time","total_price","unit_price"],"title":"ReservationModel"},"ReservationOffer":{"properties":{"key":{"type":"string","title":"Key"},"display_name":{"type":"string","title":"Display Name"},"unit_price":{"type":"string","title":"Unit Price"},"return_buyback_price":{"type":"string","title":"Return Buyback Price"},"pause_buyback_price":{"type":"string","title":"Pause Buyback Price"},"total_price":{"type":"string","title":"Total Price"},"total_etbp_value":{"type":"string","title":"Total Etbp Value"},"total_fubp_value":{"type":"string","title":"Total Fubp Value"},"option_premium":{"type":"string","title":"Option Premium"}},"type":"object","required":["key","display_name","unit_price","return_buyback_price","pause_buyback_price","total_price","total_etbp_value","total_fubp_value","option_premium"],"title":"ReservationOffer","description":"A single pricing offer within a quote response."},"ReservationQuoteResponse":{"properties":{"offers":{"items":{"$ref":"#/components/schemas/ReservationOffer"},"type":"array","title":"Offers"}},"type":"object","required":["offers"],"title":"ReservationQuoteResponse","description":"Response with all pricing offers available when creating a new reservation."},"ReservationUsageResponse":{"properties":{"reservation":{"$ref":"#/components/schemas/ReservationInfoModel"},"summary":{"$ref":"#/components/schemas/UsageSummaryModel"},"grants":{"items":{"$ref":"#/components/schemas/GrantUsageModel"},"type":"array","title":"Grants"},"pricing_events":{"items":{"$ref":"#/components/schemas/PricingEventModel"},"type":"array","title":"Pricing Events"},"reservation_events":{"items":{"$ref":"#/components/schemas/ReservationLevelEventModel"},"type":"array","title":"Reservation Events"}},"type":"object","required":["reservation","summary","grants","pricing_events","reservation_events"],"title":"ReservationUsageResponse"},"Size":{"properties":{"_value":{"type":"integer","title":"Value"},"_unit":{"$ref":"#/components/schemas/SizeUnit"}},"type":"object","required":["_value","_unit"],"title":"Size"},"SizeUnit":{"type":"string","enum":["b","kb","mb","gb","tb","pb","eb","gib","tib","pib"]},"SortDirection":{"type":"string","enum":["asc","desc"]},"TeammateResponse":{"properties":{"id":{"type":"string","title":"Id"},"fid":{"type":"string","title":"Fid","examples":["user_abc123456"]},"user_name":{"type":"string","nullable":true},"email":{"type":"string","nullable":true},"organization_role":{"type":"string","nullable":true},"project_ids":{"items":{"type":"string"},"type":"array","title":"Project Ids"},"deactivated_at":{"type":"string","format":"datetime","examples":["2024-01-01T00:00:00Z","2024-01-01T00:00:00+00:00","2024-01-01T00:00:00-00:00"],"nullable":true}},"type":"object","required":["id","fid","project_ids"],"title":"TeammateResponse"},"TerminateInstanceRequest":{"properties":{"instances":{"items":{"type":"string","examples":["inst_abc123456"]},"type":"array","minItems":1,"uniqueItems":true,"title":"Instances"},"reduce_capacity":{"type":"boolean","const":true,"title":"Reduce Capacity"}},"type":"object","required":["instances","reduce_capacity"],"title":"TerminateInstanceRequest"},"TerminateInstanceResponsePartialSuccess":{"properties":{"terminated_instances":{"items":{"type":"string","examples":["inst_abc123456"]},"type":"array","uniqueItems":true,"title":"Terminated Instances"}},"type":"object","required":["terminated_instances"],"title":"TerminateInstanceResponsePartialSuccess"},"UpdateBidRequest":{"properties":{"limit_price":{"type":"string","nullable":true},"paused":{"type":"boolean","nullable":true},"volumes":{"items":{"type":"string","examples":["vol_abc123456"]},"type":"array","nullable":true},"memory_gb":{"type":"integer","nullable":true}},"type":"object","title":"UpdateBidRequest"},"UpdateLifecycleScriptRequest":{"properties":{"name":{"type":"string","minLength":1,"nullable":true},"description":{"type":"string","nullable":true},"scope":{"$ref":"#/components/schemas/PublicLifecycleScriptScope","examples":[],"nullable":true}},"type":"object","title":"UpdateLifecycleScriptRequest"},"UpdateReservationRequest":{"properties":{"paused":{"type":"boolean","nullable":true},"volumes":{"items":{"type":"string","examples":["vol_abc123456"]},"type":"array","nullable":true}},"type":"object","title":"UpdateReservationRequest"},"UpdateSshKeyRequest":{"properties":{"required":{"type":"boolean","title":"Required"}},"type":"object","required":["required"],"title":"UpdateSshKeyRequest"},"UpdateVolumeRequest":{"properties":{"name":{"type":"string","maxLength":64,"pattern":"^[a-z]([-a-z0-9]*[a-z0-9])?$","title":"Name"}},"type":"object","required":["name"],"title":"UpdateVolumeRequest","description":"Request model for updating an existing storage volume.\n\nAttributes:\n    name: New name for the volume. Must follow naming conventions."},"UsageSummaryModel":{"properties":{"committed_cost_cents":{"type":"integer","title":"Committed Cost Cents"},"flex_use_credits_cents":{"type":"integer","title":"Flex Use Credits Cents"},"early_termination_credits_cents":{"type":"integer","title":"Early Termination Credits Cents"},"net_cost_cents":{"type":"integer","title":"Net Cost Cents"},"reserved_instance_hours":{"type":"string","format":"duration","title":"Reserved Instance Hours"},"active_instance_hours":{"type":"string","format":"duration","title":"Active Instance Hours"},"idle_instance_hours":{"type":"string","format":"duration","title":"Idle Instance Hours"},"as_of":{"type":"string","format":"datetime","title":"As Of","examples":["2024-01-01T00:00:00Z","2024-01-01T00:00:00+00:00","2024-01-01T00:00:00-00:00"]}},"type":"object","required":["committed_cost_cents","flex_use_credits_cents","early_termination_credits_cents","net_cost_cents","reserved_instance_hours","active_instance_hours","idle_instance_hours","as_of"],"title":"UsageSummaryModel"},"ValidationError":{"properties":{"loc":{"items":{"oneOf":[{"type":"string"},{"type":"integer"}]},"type":"array","title":"Location"},"msg":{"type":"string","title":"Message"},"type":{"type":"string","title":"Error Type"}},"type":"object","required":["loc","msg","type"],"title":"ValidationError"},"VolumeModel":{"properties":{"fid":{"type":"string","title":"Fid","examples":["vol_abc123456"]},"name":{"type":"string","title":"Name"},"region":{"type":"string","title":"Region","examples":["us-central1-a"]},"created_at":{"type":"string","format":"datetime","title":"Created At","examples":["2024-01-01T00:00:00Z","2024-01-01T00:00:00+00:00","2024-01-01T00:00:00-00:00"]},"deleted_at":{"type":"string","format":"datetime","examples":["2024-01-01T00:00:00Z","2024-01-01T00:00:00+00:00","2024-01-01T00:00:00-00:00"],"nullable":true},"capacity_gb":{"type":"integer","title":"Capacity Gb","examples":[2000]},"project":{"type":"string","title":"Project","examples":["proj_abc123456"]},"interface":{"type":"string","enum":["Block","File"],"title":"Interface"},"bids":{"items":{"type":"string","examples":["bid_abc123456"]},"type":"array","title":"Bids"},"reservations":{"items":{"type":"string","examples":["res_abc123456"]},"type":"array","title":"Reservations"},"attachments":{"additionalProperties":{"type":"string"},"type":"object","title":"Attachments"}},"type":"object","required":["fid","name","region","created_at","deleted_at","capacity_gb","project","interface","bids","reservations","attachments"],"title":"VolumeModel"}},"securitySchemes":{"MithrilAPIKey":{"type":"http","scheme":"bearer","bearerFormat":"fkey_<key>"}}}}